<md-toolbar layout="row" class="md-toolbar-tools vi-toolbar">
    <div flex hide-gt-sm>
        <button class="vi-center menuBtn" ng-click="toggleSidenav('left')" aria-label="Toggle Menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>    
    <h2 flex class="md-display-1 vi-logo">Vietinterview <span hide-sm hide-xs>- Conference Room</span></h2>
    <ul flex class="list-inline vi-right">
        <li><a href="#/admin/home">Home</a></li>
        <li><a href="#/admin/rooms">Admin</a></li>
    </ul>
</md-toolbar>