<main class="auth-main auth-main-trusted" layout="column" layout-align="center center" ng-keypress="loginMeetingKeyPress($event)">
  <div class="auth-block-trusted" layout="row">
    <div class="vi-col" flex="60" flex-xs="100" flex-offset="40" flex-offset-xs="0">
        <img class="logo-trusted" src="assets/images/logo_trananh_white_color.png" alt="VietInterview">
        <h3 class="md-headline">{{"training.title" | translate}}</h3>
        <md-button class="md-raised btn-trusted vi-btn-reset"
            ng-click="loginMeeting()">    
            {{"training.enter" | translate}}
        </md-button>
    </div>
  </div>
</main>